[submodule "IoT Technologies"]
	path = IoT Technologies
	url = https://github.com/bgrochal/SmartHospital.git
[submodule "Operational Research"]
	path = Operational Research
	url = https://github.com/bgrochal/AntColonySudoku.git
[submodule "Object-Oriented Technologies"]
	path = Object-Oriented Technologies
	url = https://github.com/Ugon/liczy-grosz.git
[submodule "Internet Applications Technologies"]
	path = Internet Applications Technologies
	url = https://github.com/WiktorJ/Simple-Device-Tracking-System.git
[submodule "BSc Thesis"]
	path = BSc Thesis
	url = https://github.com/misqos/dvb-dist.git
[submodule "Stochastic Computational Algorithms"]
	path = Stochastic Computational Algorithms
	url = https://github.com/bgrochal/GeneticEdgeDetector.git
[submodule "Component-Oriented Techniques"]
	path = Component-Oriented Techniques
	url = https://github.com/bgrochal/TrueSocialPlatform.git
[submodule "Implementation Environments of Web Services"]
	path = Implementation Environments of Web Services
	url = https://github.com/Ugon/kubernetes-spark.git
[submodule "Graph Grammars"]
	path = Graph Grammars
	url = https://github.com/ppedrycz/meshgenerator.git
[submodule "Data Mining"]
	path = Data Mining
	url = https://github.com/bgrochal/NNQuantization.git
[submodule "Distributed Systems Engineering"]
	path = Distributed Systems Engineering
	url = https://github.com/device-tracking-system/application-deployment
