[submodule "Technologies for IoT"]
	path = Technologies for IoT
	url = https://github.com/bgrochal/SmartHospital.git
[submodule "Operational Research"]
	path = Operational Research
	url = https://github.com/bgrochal/AntColonySudoku.git
[submodule "Technologies for OOP"]
	path = Technologies for OOP
	url = https://github.com/Ugon/liczy-grosz.git
[submodule "Technologies for Internet Applications"]
	path = Technologies for Internet Applications
	url = https://github.com/WiktorJ/Simple-Device-Tracking-System.git
